<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <script src="/assets/main.bundle.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{{title}}</title>
    <style>

        summary::-webkit-details-marker {
            display: none;
            
        }

        #logoLight:hover #red ~ defs stop:first-child {
            stop-color: #FB923C;
        }

        #logoDark:hover #red ~ defs stop:first-child {
            stop-color: #FB923C;
        }

        *{
            font-family: 'Roboto', 'Arial';
        }

    </style>
</head>
<body class="mx-8 py-8 min-h-screen flex flex-col xl:max-w-screen-2xl xl:mx-auto xl:px-24 dark:bg-[#181a1b] transition-colors duration-200" style="-webkit-tap-highlight-color: transparent;">
    {% include 'header.njk' %}
    <main>
        {{content | safe}}
    </main>
    {% include 'footer.njk' %}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>