---
title: Portafolio
layout: layoutEs.njk
---

<section class="flex justify-center items-center w-full absolute inset-0 -z-30">
    <div class=" inline-flex flex-col items-end -skew-y-12">
        <div class="flex items-end w-full">
            <div class="w-8/12 h-1 bg-black mb-6 dark:bg-white"></div>
        </div>
        <div class="w-8/12 h-1 bg-black mb-6 dark:bg-white"></div>
        <p class="bg-black px-6 py-4 text-white text-3xl xl:text-7xl font-bold md:py-8 md:px-14 md:text-5xl dark:bg-white dark:text-black" >PRÓXIMAMENTE</p>
        <p class=" bg-[#fece00] py-4 px-6 xl:text-4xl font-bold text-white shadow-3xl md:text-2xl">BAJO CONSTRUCCIÓN</p>
        <div class="w-8/12 h-1 bg-black mt-6 dark:bg-white"></div>
        <div class="flex items-end w-full">
            <div class="w-8/12 h-1 bg-black mt-6 dark:bg-white"></div>
        </div>
    </div>
</section>