---
title: Contact Me
layout: layout.njk
---

<section class="dark:text-white">
    <div class="font-bold text-3xl mt-24 md:text-5xl xl:mt-30">
        <h1>Love to hear from you,</h1>
        <div class="flex gap-2 items-center">
            <h1>Get in touch</h1>
            <img class="md:h-11 md:w-11 xl:h-14 xl:w-14" src="/assets/SVG/Hand.svg" alt="hand.svg">
        </div>
    
    
    </div>
    
    <div class="flex flex-col gap-7 mt-11 xl:mt-11 xl:gap-12">
        <div class="flex flex-col gap-7 xl:flex-row xl:gap-24">
            <input class=" text-xl font-montserrat pl-3 py-3 w-full appearance-none shadow-md border-2 rounded-lg outline-none border-gray-600 focus:border-orange-400 focus:borde-2 transition-all duration-200 md:text-2xl dark:bg-[#242829] dark:border-[#6f675b]" placeholder="Email" type="text">
            <input class="text-xl font-montserrat pl-3 py-3 w-full appearance-none shadow-md rounded-lg border-2 border-gray-600 outline-none focus:border-orange-400 focus:borde-2 transition-all duration-200 md:text-2xl dark:bg-[#242829] dark:border-[#6f675b]" placeholder="Name" type="text">
        </div>
        <textarea class="text-xl font-montserrat pl-3 py-3 w-full appearance-none shadow-md rounded-lg resize-y h-64 border-2 border-gray-600 outline-none focus:border-orange-400 focus:borde-2 transition-colors duration-200 md:text-2xl dark:bg-[#242829] dark:border-[#6f675b]" placeholder="Message" type=""></textarea>
    </div>
    
    <a href="#" class=" mt-10 bg-black rounded-lg flex justify-center gap-2 items-center py-3 w-44 mb-24 hover:bg-orange-400 group transition-all duration-200">
        <h3 class="text-white text-xl md:text-2xl transition-all duration-200">Just Send</h3>
        <svg class="md:hidden fill-white transition-all duration-200" width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.51 1.99a1 1 0 0 0-1-1h-9a1 1 0 1 0 0 2h8v8a1 1 0 1 0 2 0v-9ZM2.197 14.717l12.02-12.02-1.414-1.414-12.02 12.02 1.414 1.414Z"/></svg>
        <svg class="hidden md:block fill-white transition-all duration-200" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.253 1.747a1.5 1.5 0 0 0-1.5-1.5h-13.5a1.5 1.5 0 0 0 0 3h12v12a1.5 1.5 0 0 0 3 0v-13.5ZM2.55 19.071 18.813 2.808 16.693.686.428 16.95l2.12 2.121Z"/></svg>
    </a>
</section>